apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ binding_name }}
  labels:
    app: {{ app_label }}
    project: {{ project_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ role_name }}
subjects:
  - kind: ServiceAccount
    name: {{ sa_name }}
