apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ role_name }}
  labels:
    app: {{ app_label }}
    project: {{ project_name }}
rules:
{% for rule in rules %}
  - apiGroups: {{ rule.api_groups | tojson }}
    resources: {{ rule.resources | tojson }}
    verbs: {{ rule.verbs | tojson }}
{% endfor %}
