apiVersion: v1
kind: Secret
metadata:
  name: {{ project_name }}-secret
  labels:
    project: {{ project_name }}
type: Opaque
stringData:
{% if StorageEngine.SQL in engines %}
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "changeme"
{% endif %}
{% if StorageEngine.MONGO in engines %}
  MONGO_USER: "root"
  MONGO_PASSWORD: "changeme"
{% endif %}
{% if StorageEngine.GRAPH in engines %}
  NEO4J_AUTH: "neo4j/changeme"
{% endif %}
